[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pre-commit = "*"
django-allauth = "*"
djangorestframework = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
django-extensions = "*"
pillow = "*"
celery = "*"
django-redis = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"

[scripts]
up = "docker compose up -d"
down = "docker compose down"
start = "bash -c \"python3 manage.py runserver 0.0.0.0:8000 && celery -A product_project worker -l info && celery -A product_project beat -l info\""
